<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        The Sound of Your Heart
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <app-ekg-overview></app-ekg-overview>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Heartbeat</strong> made with <i class="fa fa-heart"></i> by
        <a href="https://github.com/InitiativeVoidPtr">Void*</a> #rethinkhackathon #opencodes.
        <br>
        The <a href="https://github.com/InitiativeVoidPtr/oc18_heartbeatfrontend">source code</a> is
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a> licensed.
      </p>
    </div>
  </div>
</footer>
