<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <i class="fa fa-asterisk"></i> The Sound of Your <i class="fa fa-heartbeat"></i>
      </h1>
      <h2 class="subtitle">
        The Cheap Way
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <app-ekg-overview></app-ekg-overview>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Heartbeat</strong> made with <i class="fa fa-heart"></i> by
        <a href="https://github.com/InitiativeVoidPtr">Initiative Void<i class="fa fa-asterisk"></i></a> #rethinkhackathon #opencodes.
        <br>
        The <a href="https://github.com/InitiativeVoidPtr/oc18_heartbeatfrontend">source code</a> is
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a> licensed.
      </p>
    </div>
  </div>
</footer>
